body {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.cabecalho {
    background: linear-gradient(to right, #0b6375, #0768336f);
    padding-bottom: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
    display: block;   
    align-items: center;
}

.menu, a {
    font-size: 20px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-align: left;
    margin-top: 15px;
}

.menu a:hover {
    color: black;
    text-decoration: solid;
}
.login-btn{
    background: linear-gradient(to top, #FFFFFF, #0768336f);
    margin-left: 92%;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    color: #0b6375;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 550;


    
    
    
}
.login-btn:hover{
    background-color: #0b6375;
    color: #000000;
    
}

.container-btn-login{
    margin-top: -30px;
    display: flex;

    

}
#cadastro{
    margin-left: -210px;
    color: #0b6375;

}

.slider {
    margin: 0 auto;
    width: 98%;
    height: 750px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 30px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.slides {
    width: 300%; 
    height: 100%; 
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out; 
    
}

.slides input {
    display: none;
}

.slide {
    width: 100%; 
    position: relative;
}

.slider img {
    width: 100%; 
    height: auto; 
    margin: 0 auto;
    
}

.manual-navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: black;
}
.transition{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-top: 10px;
    margin-left: -10px; 
}
.transition div {
    background-color: #0b6375;
    width: 200px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);

}
.TextoTransition {
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    color: #0b6375;
    margin-left: -10px;
}
.curiosidade1 {
    background-color: #97CBBE;
    width: 100%;
    height: 210px;
    margin-top: 50px;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    opacity: 0; 
    transform: translateX(50px); 
    transition: transform 1s ease-out, opacity 5s ease-out; 
    background: linear-gradient(to right, #666666, #97cbbe);


}

.curiosidades1 {
    height: 500px;
    margin-top: 7px;
    display: flex;
}

.curiosidades2 {
    height: 500px;
    margin-top: -300px;
    display: flex;
    background-color: #97cbbe;
    height: 210px;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 20px; 
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, #666666, #97cbbe);


}
.curiosidade3{
    height: 500px;
    display: flex;
    background: linear-gradient(to right, #666666, #97cbbe);
    height: 210px;
    align-items: center;
    display: flex;
    padding-left: 20px; 
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.curiosidade1.show {
    opacity: 1;
    transform: translateX(0);
}

.imagemredonda {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.imagemredonda2 {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.texto {
    font-size: 24px;
    margin-left: 15px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.texto2 {
    font-size: 24px;
    margin-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
}
.transition2{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-top: 415px;
    margin-left: -10px; 
}
.transition2 div {
    background-color: #0b6375;
    width: 200px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);

}
.article{
    background-color: #97cbbe;
    width: 100%;
    height: 700px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.article div{
    background-color: #FFFFFF;
    width: 100%;
    height: 80%;
    margin-top: 70px;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.2);
}
.form-container {
    background: linear-gradient(to top, #FFFFFF, #0768336f);
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 55px;

}
.form-group input {
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 55px;
}
.submit-btn {
    width: 420px;
    padding: 10px;
    background-color: #0b6375;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 55px;
}
.submit-btn:hover {
    background-color: #000000;
}
.title-form{
    color: #0b6375;
    font-size: 55px; 
    text-align: center; 
    margin-bottom: 50px; 
    display: block; 
    white-space: nowrap;
    margin-top: -100px;
    margin-left: 10px;

}
.content {
    display: flex;
    gap: 150px; 
}

.form-container {
    background: linear-gradient(to top, #FFFFFF, #0768336f);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 700px;
}

#map-container {
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 50px;
}

iframe {
    width: 100%;
    height: calc(100% - 40px); 
    margin-top: 50px;

}
#map-container h1 {
    font-size: 24px;
    color: #000000;
}
.TextMap{
    color: #0b6375;
}

.rodape div{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #666666;
    gap: 15px;
}
.textoRodape label{
    color: #ffffff;

}