body {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.cabecalho {
    background: linear-gradient(to right, #0b6375, #0768336f);
    padding: 15px;

    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
    display: block;   
}

.menu, a {
    font-size: 20px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    text-align: left;
}

.menu a:hover {
    color: black;
    text-decoration: solid;
}

.slider {
    margin: 0 auto;
    width: 98%;
    height: 750px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 30px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.slides {
    width: 300%; 
    height: 100%; 
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out; 
}

.slides input {
    display: none;
}

.slide {
    width: 100%; 
    position: relative;
}

.slider img {
    width: 100%; 
    height: auto; 
    margin: 0 auto;
}

.manual-navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: black;
}
.transition{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-top: 10px;
}
.transition div {
    background-color: black;
    width: 200px;
    height: 10px;
    border-radius: 20px;
}
.TextoTransition {
    font-size: 30px;
    margin-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
.curiosidade1 {
    background-color: #97CBBE;
    width: 98%;
    height: 210px;
    margin-top: 250px;
    margin-left: 15px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    opacity: 0; 
    transform: translateX(50px); 
    transition: transform 1.5s ease-out, opacity 5s ease-out; 
    background: linear-gradient(to right, #97cbbe, #025b5200);


}

.curiosidades1 {
    height: 500px;
    margin-top: 7px;
    display: flex;
}

.curiosidades2 {
    height: 500px;
    margin-top: -290px;
    display: flex;
    background-color: #97cbbe;
    height: 210px;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 20px; 
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to left, #97cbbe, #0000);


}
.curiosidade3{
    height: 500px;
    margin-top: 5px;
    display: flex;
    background: linear-gradient(to right, #97cbbe, #0000);
    height: 210px;
    align-items: center;
    display: flex;
    padding-left: 20px; 
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

.curiosidade1.show {
    opacity: 1;
    transform: translateX(0);
}

.imagemredonda {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.imagemredonda2 {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.texto {
    font-size: 24px;
    margin-left: 15px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto2 {
    font-size: 24px;
    margin-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
